<ul>
  <ng-container *ngIf="displayElement()">
    <li class="hero-list-item" *ngFor="let hero of heroes" [@foldIn]="hero.state" [@foldOut]="hero.state" (click)="hero.toggleState()">
      {{hero.name}}
    </li>
  </ng-container>
</ul>
<div>
  <p>
    <button (click)="showElement()">
      {{buttonText}} Element
    </button>
  </p>
</div>
<div class="red-block" [@foldIn]="redBlock" [@foldOut]="redBlock"  (mouseover)="redBlock = 'active';" (mouseout)="redBlock = 'inactive';">
  RED BLOCK
</div>
